*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: gray;
}

div {
    background: #adff2f;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div a {
    margin-left: 100px;
    background: rgb(6, 89, 128);
    border: 1px solid white;
    min-width: 100px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.main {
    background: white;
    display: flex;
    align-items: flex-start;
    min-height: 100px;
}
.main .mainDiv1 {
    display: block;
    width: 20%;
    background: orange;
    min-height: 600px;
}

.main .mainDiv1 a{
    margin-left: 0px;
}

.main .mainDiv2 {
    display: block;
    width: 60%;
    background: rgb(153, 104, 14);
    min-height: 600px;
}

.main .mainDiv3 {
    display: block;
    width: 20%;
    background: orange;
    min-height: 600px;
}
 .main .mainDiv3 h1 {
     text-align: center;
     color: white;
 }

 .main .mainDiv3 img {
     width: 100%;
 }