*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: wheat;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    border-bottom: 5px solid gray;
    /* transform: rotateX(50deg) rotateY(-60deg) rotateZ(50deg); */
}

.container .block {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 100px;
    background: teal;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    animation: ailanuu 10s ease-in-out infinite;
}

.container .block .in_block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50%;
    animation: in_ailanuu 10s ease-in-out infinite;
}

.container .block .in_block .blocks_one {
    position: absolute;
    width: 100%;
    border: 3px solid black;
}

.container .block .in_block .blocks_second {
    position: absolute;
    height: 100%;
    border: 3px solid black;
}

.container {
    background: white;
}
.container .img {
    width:100%;
    height: 100%;
    position: relative;
}

.container .img img {
    position: absolute;
    width: 200px;
    animation: raketa 5s ease-in-out infinite;
}




.hover {
    margin: 40%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid teal;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}

.hover span {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    transition: 0.8s;
}


.hover span::before{
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    left: -30px;
    transition: 0.8s;
}

.hover span::after {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    left: 30px;
    transition: 0.8s;
}

.hover:hover {
    background: aqua;
    transition: 0.8s;
}

.hover:hover span {
    background: orange;
    transition: 0.8s;
}

.hover:hover span::before {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: orange;
    left: 0px;
    transition: 0.8s;
}

.hover:hover span::after {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: orange;
    left: 0px;
    transition: 0.8s;
}

























@keyframes ailanuu {
    0% {
        left: 0;
        /* transform: scale(1); */
        /* background: teal; */
        transform: skew(1deg);
    }
    100% {
        left: calc(100% - 100px);
        /* background: red; */
        /* transform: scale(1); */
        /* transform: rotate(3600deg); */
        transform: skew(60deg);
    }
    
}

@keyframes in_ailanuu {
    0% {
        transform: rotateZ(0deg);
    }   
    100% {
        transform: rotateZ(3600deg);
    } 
}

@keyframes raketa {
    0% {
        bottom: 0%;
    }
    100% {
        bottom: 100%;
    }
    
}